{% extends "base.html" %}
<!-- ##### Treading Post Area End ##### -->

<!-- ##### Search Area Start ##### -->
{% block content %} -->
<!-- <div class="bueno-search-area section-padding-100-0 pb-70 bg-img" style="background-image: url(../static/img/core-img/pattern.png);"> 
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group mb-30">
                                    <select class="form-control" id="recipe">
                                      <option value="">Recipe</option>
                                      <option value="">Recipe 1</option>
                                      <option value="">Recipe 2</option>
                                      <option value="">Recipe 3</option>
                                      <option value="">Recipe 4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group mb-30">
                                    <select class="form-control" id="vegan">
                                      <option value="">Vegan</option>
                                      <option value="">Vegan 1</option>
                                      <option value="">Vegan 2</option>
                                      <option value="">Vegan 3</option>
                                      <option value="">Vegan 4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group mb-30">
                                    <select class="form-control" id="ingredients">
                                      <option value="">Ingredients</option>
                                      <option value="">Ingredients 1</option>
                                      <option value="">Ingredients 2</option>
                                      <option value="">Ingredients 3</option>
                                      <option value="">Ingredients 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group mb-30">
                                    <button class="btn bueno-btn w-100">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
<!-- ##### Search Area End ##### -->

<!-- ##### Catagory Area Start ##### -->
<div class="post-catagory section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/4.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://www.healthline.com/nutrition/50-super-healthy-foods"
                                class="post-title">Healthy Food</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/5.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://freekaamaal.com/food/organic-food-brands-in-india"
                                class="post-title">Organic Cuisine</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/6.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://cookieandkate.com/29-best-vegetarian-recipes/"
                                class="post-title">Vegetarian Food</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/17.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://food.ndtv.com/lists/10-best-indian-chicken-recipes-693207"
                                class="post-title">Chicken Food</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/18.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://food.ndtv.com/lists/10-best-pizza-recipes-714462"
                                class="post-title">Pizza</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/19.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://www.eatthis.com/most-popular-fast-food/" class="post-title">Fast Food</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/20.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://www.foodandwine.com/comfort-food/burgers/burger-recipes"
                                class="post-title">Burgers</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/21.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://www.tasteofhome.com/collection/the-best-desserts/"
                                class="post-title">Deserts</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/22.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="https://www.loveandlemons.com/soup-recipes/" class="post-title">Soups</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="pagination-area mt-70">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">01</a></li>
                            <li class="page-item active"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}