{% extends "base.html" %}
{% block linkages %}
<style>
    html {
        scroll-behavior: smooth;
    }

    :root {
        scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
        scrollbar-width: thin !important;
    }

    ::-webkit-scrollbar {
        height: 12px;
        width: 8px;
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: gray;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }

    ::-webkit-scrollbar-corner {
        background: #000;
    }





    .form-group {
        position: relative;
        font-size: 15px;
        color: #666;
    }

    .form-group+.form-group {
        margin-top: 30px;
    }

    .form-group .form-label {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 5px;
        transition: 0.3s;
    }

    .form-group .form-control {
        width: 100%;
        position: relative;
        z-index: 3;
        height: 35px;
        background: none;
        border: none;
        padding: 5px 0;
        transition: 0.3s;
        border-bottom: 1px solid #777;
        color: #555;
    }

    .form-group .form-control:invalid {
        outline: none;
    }

    .form-group .form-control:focus,
    .form-group .form-control:valid {
        outline: none;
        box-shadow: 0 1px #FF4081;
        border-color: #FF4081;
    }

    .form-group .form-control:focus+.form-label,
    .form-group .form-control:valid+.form-label {
        font-size: 12px;
        color: #FF4081;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }



    body {
        margin: 0;
        overflow-x: hidden;
        font-family: 'Oswald', sans-serif;
    }

    a,
    li,
    em,
    button,
    input,
    textarea,
    select {
        text-decoration: none;
        list-style: none;
        font-style: normal;
        outline: none !important;
        transition: 0.5s;
        resize: none;
    }

    ul {
        position: relative;
        left: -20px;
    }

    ul li {
        padding: 20px 0;
        color: gray;

    }

    b {
        color: #fff;
    }

    .btn {
        background: #fff;
        padding: 5px;
        width: 15%;
        height: 35px;
        border: 1px solid #FF4081;
        margin-top: 25px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 50px #FF4081 inset;
        color: #fff;
    }


    .fa {
        color: #7ed321;
        cursor: pointer;
    }





    .ppcontainer table {
        width: 39%;
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pcontainer table td {
        margin: 30px;
        border-radius: 5px;
        box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.5);
        padding: 30px;
        color: #fff;
        vertical-align: top;
    }

    .pcontainer table td:nth-child(1) {
        text-align: Center;
    }

    .pcontainer table td:nth-child(2) .fa {
        float: right;
    }

    .pcontainer table td:nth-child(2) input {
        background: none;
        outline: none;
        border: 0;
        color: gray;
        width: 60%;
        pointer-events: none;
    }

    .pcontainer table td:nth-child(1) section {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 5vh auto;
    }


    .pcontainer table td:nth-child(1) .fa {
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 2em;
    }

    .pcontainer table td img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .pcontainer table td h3 {
        color: gray;
        font-weight: normal;
    }

    .pcontainer table .section2 {
        text-align: left;
    }

    .pcontainer table .section2 label {
        display: block;
        margin: 10px 0;
        text-align: left;
    }

    .pcontainer table .section2 select {
        width: 100%;
        padding: 19px;
        border: 0;
        outline: none;
        color: gray;
    }

    .pcontainer table .section2 input {
        width: 90%;
        padding: 20px;
        color: gray;
        border: 0;
        outline: none;
    }

    .pcontainer table .section2 .quantityselector {
        height: 80px;
        border-bottom: 0px;
    }

    .pcontainer table .section2 .quantityselector section {
        display: inline-block !important;
        width: 45%;
        margin: 0 10px;
    }

    .pcontainer table textarea {
        width: 90%;
        resize: none;
        outline: none;
        border: 0;
        color: gray;
        padding: 20px;
    }



    .pcontainer .inframe .card {
        width: 100%;
        height: 40vh;
        position: relative;
        overflow: hidden;
        display: block;
        margin: 10px 0;
    }

    .pcontainer .inframe .card img {
        width: 100%;
        height: 40vh;
        border-radius: 0;
    }

    .card_content {
        height: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(1, 1, 1, 0.8);
        transition: 0.5s;
    }

    .card_content ul li {
        padding: 5px;
        font-size: 13px;
    }

    .card_content h3 {
        text-align: Center;
        color: #fff;
    }

    .inframe .card:hover>.card_content {
        height: 40vh;
    }

    .card_content .btn {
        font-size: 12px;
        width: 100px;
        display: inline-block;
        margin: 0 10px;
    }




    @media (max-width:820px) {
        .pcontainer {
            width: 100%;
        }

        .pcontainer table td {
            display: block;
            width: 90%;
            margin: 0px;
        }

        .pcontainer table .section2 .quantityselector section {
            width: 41%;
            margin: 0px 10px;
        }

        .pcontainer table .section2 ul {
            position: relative;
            left: -40px;
        }

        .pcontainer table .section2 .quantityselector {}
    }








    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
    }

    .alert.success {
        background-color: #04AA6D;
    }

    .alert.info {
        background-color: #2196F3;
    }

    .alert.warning {
        background-color: #ff9800;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>

<script>
    window.console = window.console || function (t) { };
</script>



<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
<link rel="shortcut icon" href="/DevanagariBrahmi/logo.png">

<!--META TAGS-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Team Bboysdreamsfell">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="Profiler Name || Krishivalahs" />

<!--EXTERNAL CSS-->
<link rel="stylesheet" href="css/style.css">



<!--PLUGIN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@300;400&family=Ubuntu:wght@700&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}




<div class="pcontainer">
    <form action="" method="post">
        {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
        {% else %}
        {% endif %}

        <table>
            <tr>
                <td>
                    <section>
                        <label for="fileToUpload">
                            <i class="fa fa-camera"></i>
                            <input type="file" id="fileToUpload" style="visibility:hidden;"
                                accept=".png,.jpg,jpeg,.PNG,.JPEG" name="fileToUpload"
                                onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                        </label>
                        <img src="https://i.ibb.co/yNGW4gg/avatar.png" id="blah" alt="Avatar">
                    </section>
                    <h1>{{ current_user.username }}</h1>
                    <h3>{{ form.description }}</h3>
                </td>

            </tr>
            <tr>
                <td class="section2">
                    <h2 style="text-align:center;">Personal Information</h2>
                    <div class="container" style="width: 30%">
                        <ul>
                            <div class="form-group">
                                {{ form.name.label(class_='form-label') }}<br>
                                {{ form.name(size=32, class_='form-control') }}<br>
                                {% for error in form.name.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.dob.label(class_='form-label') }}<br>
                                {{ form.dob(size=32, class_='form-control') }}<br>
                                {% for error in form.dob.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.height.label(class_='form-label') }}<br>
                                {{ form.height(size=32, class_='form-control') }}<br>
                                {% for error in form.height.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.weight.label(class_='form-label') }}<br>
                                {{ form.weight(size=32, class_='form-control') }}<br>
                                {% for error in form.weight.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group" style="width: 10%">
                                {{ form.gender.label(class_='form-label') }}<br>
                                <hr>
                                {{ form.gender}}<br>
                                {% for error in form.gender.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group" style="width: 20%">
                                {{ form.activity_f.label(class_='form-label') }}<br>
                                <hr>
                                {{ form.activity_f}}<br>
                                {% for error in form.activity_f.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group" style="width: 20%">
                                {{ form.wt_choice.label(class_='form-label') }}<br>
                                <hr>
                                {{ form.wt_choice}}<br>
                                {% for error in form.wt_choice.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.exclude.label(class_='form-label') }}<br>
                                {{ form.exclude(size=32, class_='form-control') }}<br>
                                {% for error in form.exclude.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                          </div>
                            <div class="form-group">
                                {{ form.username.label(class_='form-label') }}<br>
                                {{ form.username(size=32, class_='form-control') }}<br>
                                {% for error in form.username.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class_='form-label') }}<br>
                                {{ form.email(size=32, class_='form-control') }}<br>
                                {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class_='form-label') }}<br>
                                {{ form.password(size=32, class_='form-control') }}<br>
                                {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <p>{{ form.submit(class_="btn") }}</p>
                        </ul>
                    </div>
                </td>

            </tr>
        </table>
    </form>
</div>


<!--JAVASCRIPT-->
<script src="js/custom.js"></script>
<script>
    function editdetails2() {
    }

    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>

{% endblock %}