{% extends "base.html" %}
{% block prompt %}
{% if current_user.name %}
<h6 style="margin-left:35px"> Hi, {{current_user.name }}!</h6>
{% else %}
<h6 style="margin-left:35px"> Welcome </h6>
{% endif %}
{% endblock %}



{% block content %}
<div class="hero-area">
    <!-- Hero Post Slides -->
    <div class="hero-post-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-slide">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <a href="#"><img src="../static/img/bg-img/1.jpg" alt=""></a>
            </div>

            <!-- Blog Content -->
            <div class="blog-content-bg">
                <div class="blog-content">
                    <a href="#" class="post-tag">Healthy Food</a>
                    <a href="#" class="post-title">Chicken Salad</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">July 11, 2021</a>
                        <a href="#" class="post-author">By Siraj Pissurlenkar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <a href="#"><img src="../static/img/bg-img/2.jpg" alt=""></a>
            </div>

            <!-- Blog Content -->
            <div class="blog-content-bg">
                <div class="blog-content">
                    <a href="#" class="post-tag">Healthy Food</a>
                    <a href="#" class="post-title">Chicken Salad</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">July 11, 2021</a>
                        <a href="#" class="post-author">By Siraj Pissurlenkar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <a href="#"><img src="../static/img/bg-img/3.jpg" alt=""></a>
            </div>

            <!-- Blog Content -->
            <div class="blog-content-bg">
                <div class="blog-content">
                    <a href="#" class="post-tag">Healthy Food</a>
                    <a href="#" class="post-title">Chicken Salad</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">July 11, 2021</a>
                        <a href="#" class="post-author">By Siraj Pissurlenkar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <a href="#"><img src="../static/img/bg-img/3.jpg" alt=""></a>
            </div>

            <!-- Blog Content -->
            <div class="blog-content-bg">
                <div class="blog-content">
                    <a href="#" class="post-tag">Healthy Food</a>
                    <a href="#" class="post-title">Chicken Salad</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">July 11, 2021</a>
                        <a href="#" class="post-author">By Siraj Pissurlenkar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Catagory Area Start ##### -->
<div class="post-catagory section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Post Catagory -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/4.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="#" class="post-title">Healthy Food</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/5.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="#" class="post-title">Organic Cuisine</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Post Catagory -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                    <img src="../static/img/bg-img/6.jpg" alt="">
                    <!-- Content -->
                    <div class="catagory-content-bg">
                        <div class="catagory-content">
                            <a href="#" class="post-tag">The Best</a>
                            <a href="#" class="post-title">Vegetarian Food</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Catagory Area End ##### -->

<!-- ##### Big Posts Area Start ##### -->
<div class="big-posts-area mb-50">
    <div class="container">
        <!-- Single Big Post Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="big-post-thumbnail mb-50">
                    <img src="../static/img/bg-img/7.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="big-post-content text-center mb-50">
                    <a href="#" class="post-tag">Healthy</a>
                    <a href="#" class="post-title">Friend eggs with ham</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">July 11, 2021</a>
                        <a href="#" class="post-author">By Wayne Remedios</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit bibendum
                        pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo vitae odio. Sed
                        auctor tellus quis arcu tempus, egestas tincidunt augue pellentesque. Suspendisse vestibulum sem
                        in eros maximus, pretium commodo turpis convallis. Aenean scelerisque orci quis urna tempus,
                        vitae interdum velit aliquet.</p>
                    <a href="#" class="btn bueno-btn">Read More</a>
                </div>
            </div>
        </div>

        <!-- Single Big Post Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="big-post-content text-center mb-50">
                    <a href="#" class="post-tag">The Best</a>
                    <a href="#" class="post-title">Steak with boiled vegetables</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">July 11, 2021</a>
                        <a href="#" class="post-author">By Simran Sirsat</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit bibendum
                        pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo vitae odio. Sed
                        auctor tellus quis arcu tempus, egestas tincidunt augue pellentesque. Suspendisse vestibulum sem
                        in eros maximus, pretium commodo turpis convallis. Aenean scelerisque orci quis urna tempus,
                        vitae interdum velit aliquet.</p>
                    <a href="#" class="btn bueno-btn">Read More</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="big-post-thumbnail mb-50">
                    <img src="../static/img/bg-img/8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Big Posts Area End ##### -->

<!-- ##### Posts Area End ##### -->
<div class="bueno-post-area mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="../static/img/bg-img/9.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="post-tag">The Best</a>
                        <a href="#" class="post-title">Friend eggs with ham</a>
                        <div class="post-meta">
                            <a href="#" class="post-date">July 11, 2021</a>
                            <a href="#" class="post-author">By Wayne Remedios</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit
                            bibendum pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo
                            vitae odio. Sed auctor tellus quis arcu tempus.</p>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="../static/img/bg-img/10.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="post-tag">The Best</a>
                        <a href="#" class="post-title">Mushrooms with pork chop</a>
                        <div class="post-meta">
                            <a href="#" class="post-date">July 11, 2021</a>
                            <a href="#" class="post-author">By Simran Sirsat</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit
                            bibendum pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo
                            vitae odio. Sed auctor tellus quis arcu tempus.</p>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="../static/img/bg-img/11.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="post-tag">The Best</a>
                        <a href="#" class="post-title">Birthday cake with chocolate</a>
                        <div class="post-meta">
                            <a href="#" class="post-date">July 11, 2021</a>
                            <a href="#" class="post-author">By Vishaka Desai</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit
                            bibendum pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo
                            vitae odio. Sed auctor tellus quis arcu tempus.</p>
                    </div>
                </div>
            </div>

            <!-- Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area add-widget mb-30">
                        <img src="../static/img/bg-img/add.png" alt="">
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area post-widget">

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/img/bg-img/12.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Friend eggs with ham</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2021</a>
                                    <a href="#" class="post-author">By Wayne Remedios</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex mb-30">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/img/bg-img/13.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Burger with fries</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2021</a>
                                    <a href="#" class="post-author">By Vishaka Desai</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/img/bg-img/14.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Avocado &amp; Oysters</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2021</a>
                                    <a href="#" class="post-author">By Simran Sirsat</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/img/bg-img/15.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Tortilla prawns</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2021</a>
                                    <a href="#" class="post-author">By Simran Sirsat</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/img/bg-img/16.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Burger with fries</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2021</a>
                                    <a href="#" class="post-author">By Vishaka Desai</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Posts Area End ##### -->

<!-- ##### Instagram Area Start ##### -->
<div class="instagram-feed-area d-flex flex-wrap">
    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta1.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta1.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta2.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta2.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta3.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta3.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta4.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta4.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta5.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta5.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta6.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta6.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta7.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta7.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta8.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta8.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta9.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta9.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="../static/img/bg-img/insta10.jpg" alt="">
        <!-- Image Zoom -->
        <a href="img/bg-img/insta10.jpg" class="img-zoom" title="Instagram Image">+</a>
    </div>
</div>
{% endblock %}